body{
    background-image: url(../img/Laufey_Fillmore_10-8-23-9-copy.jpg)
}

h1{
    padding: 10px;
    margin: 330px;

}
h2{
    margin-left: 500px;
    margin-right: 500px;
}
p{
     margin-left: 20px;
    margin-right: 20px;
}

